<li><a class="waves-effect" href="#home">Home</a></li>
<li><a class="waves-effect" href="#about">About</a></li>
<li><a class="waves-effect" href="#contact">Contact</a></li>
<li><a class="waves-effect" href="#saved">Save</a></li>